.imageContainer {
  width: 100%;
  aspect-ratio: 1 / 1; /* Keeps square shape */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Crops edges but fills space */
  object-position: center top; 
  border-radius: 10px; /* Keep flat corners unless needed */
  text-shadow: var(--text-shadow);
}
