.DisplayPortfolio {
  max-width: 300px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.portfoliocontent {
  width: 300px;
  max-width: 100%;
  margin-top: -5px;
  border-radius: 0 0 20px 20px;
  padding: 20px;
  box-shadow: 2px 2px 5px #183b4e;
  color: #183b4e;
}

.portfoliocontent h1 {
  border-bottom: none;
  font-size: 1.5rem;
  word-wrap: break-word;
}

.containerIframe {
  box-shadow: 2px 0 5px #183b4e;
  margin-bottom: 0;
  border-radius: 20px 20px 0 0;
  width: 300px;
  max-width: 100%;
  height: 300px;
  overflow: hidden;
}

.containerIframe img,
.containerIframe iframe {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.skillsUsed {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 6px;
  row-gap: 6px;
  margin-top: -20px;
  flex-wrap: wrap;
}

@media (max-width: 400px) {
  .skillsUsed {
    grid-template-columns: 1fr 1fr;
  }

  .portfoliocontent h1 {
    font-size: 1.3rem;
  }
}

.links {
  display: flex;
  margin-top: -20px;
}
.portfoliocontent > h1:hover {
  text-shadow: 2px 2px 2px#DDA853;
}
.skills {
  background-color: #dda853;
  color: #183b4e;
  padding: 3px;
  border-radius: 10px;
  text-align: center;
}

.links a {
  margin-left: 5px;
  text-decoration: none;
  color: #183b4e;
}

.links a:hover {
  color: #dda853;
}

.links ul {
  list-style: none;
}
