.Home {
    background-color: #183B4E;
    min-height: 100%;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Home > div {
    margin-top: 10px;
  }
  
  /* === Section Containers === */
  .homeContainer {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto;
    
  }
  .homeContainerHigh {
    width: 90%;
    padding: 10px;
    padding-bottom: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto;
    row-gap: 50px;
  }

 
  /* Text + Nested Elements in Container */
  .homeContainer div,
  .homeContainer p {
    color: #183B4E;
  }
  
  /* === Greeting Section === */
  .greeting {
    font-size: 1.7rem;
  }
  
  .homeContainer > p:first-of-type {
    font-size: 1.7rem;
    font-weight: bold;
  }
  .titleFeatured {
    font-size: 1.7rem;
    font-weight: bold;
    color: #183B4E;
  }
  
  /* === Button Styling === */
  .ranButton {
    padding: 2px;
    background-color: #F5EEDC;
    border-radius: 5px;
    width: 100px;
  }
  
  .ranButton:hover {
    background-color: lightgreen;
  }
  
  /* === Featured (Name Input Section) === */
  .clickMe div {
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
  }

  
  .clickMe div span:hover {
    border: 2px double #183B4E;
    padding: 5px;
    border-radius: 15px;
    background-color: yellow;
  }
  
  /* === App Selector Section === */
  .apps {
    display: block;
    overflow: visible;
  }
  
  .appSelector {
    width: 100%;
    padding-bottom: 5px;
    font-size: 1.7rem;
    font-weight: bold;
  }
  
  .appSelector select {
    margin-left: 20px;
    height: 2rem;
    font-size: 1.7rem;
  }
  
  /* === App Display Area === */
  .visibleApp {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: visible;
  }
  
  /* === Input Field === */
  .input {
    width: 300px;
    height: 2rem;
    font-size: 1.7rem;
  }

  .featured{
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 30px;
   
  }
  