
.landing-overlay{
    
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40000;
    background-color: hsla(213, 56%, 35%, 0.774);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.landing-overlay img{
    box-shadow: 0 0 2px 2px #DDA853;
    height: 10rem;
    border-radius: 50%;
    border: 2px solid #183B4E;
}

.overlay-main-nav{
    margin-top: 20px;
    background-color: #f5eedc;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 2px 2px var(--accent-color);
    display: flex;
    flex-direction: column;

}

.overlay-main-nav h1{
    margin: 0 auto;
}

.featuredProjects{
    width: 700px;
    background-color: var(--accent-color);
    border-radius: 10px;
    display: flex;
}

.exit{
    position: fixed;
    top:10px;
    right: 200px;
    font-size: 4rem;
    color: black;
    background-color: var(--accent-color);
    padding: 0px 20px;
    border-radius: 20px;
    

}

.exit:hover{
    
    color: var(--accent-color);
    background-color: black;
    
    

}