.Portfolio{
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    margin: 0 auto;
    column-gap: 50px;
    padding: 50px 50px;
    row-gap: 50px;
    
}


