.Portfolio{
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
    padding: 25px 50px;
    row-gap: 50px;
    
}


.Portfolio > div {
    transform: scale(0.8);  /* 80% size */
  transform-origin: top left; 
}

