*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

html {
    font-size: 16px; /* Set base font size to control rem scaling */
}

header {
    background-color: #F5EEDC;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}



.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 100%;
    max-width: 1280px; /* Prevents width from growing too large */
    min-width: 700px;  /* Prevents shrinking below 700px */
    width: 100%;
    box-sizing: border-box;
    padding-left: 100px;
}

span {
    position: fixed;
  top: 0.5rem;
  left: 150px;
  z-index: 20001;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.main-nav {
    grid-column: 2 / 3; /* Second column (1fr) */
  }

  @media (max-width: 900px) {
    span {
      font-size: 1rem;
      left: 120px;
    }
  }