:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

   /* Breakpoints */
   --breakpoint-large: 1060px;
   --breakpoint-medium: 800px;
   --breakpoint-tablet: 650px;
 
   /* Colors */
   --primary-color: #183B4E;
   --accent-color: #DDA853;
   --light-bg: #F5EEDC;
   --link-color: #27548A;
 
}

html, #root, body{
  width: 100%;
  min-height: 100vh;
}
html {
  font-size: 16px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #27548A;
}

footer{
  display: none;
}


.bColor1{
  background-color: #DDA853;
}

.bColor2{
  background-color: #183B4E;
}

.bColor3{
  background-color: #27548A;
}

.bColor4{
  background-color: #F5EEDC;
}
